/** Estilos gerais para todo o CSS da Homepage **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/** Estilização do fundo da página **/
body {
    height: 100vh;
    background: url("/images/fundosite.jpg");
    background-position: center;
    background-size: cover;
}

/** Estilização do cabeçalho **/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}

/** Estilização da barra de navegação **/
header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar .name {
    color: #011936;
    font-size: 2.1rem;
    font-weight: 600;
}

.navbar .name span {
    color: #F18F01;
}

.navbar .menulinks {
    display: flex;
    gap: 40px;
    font-size: 18px;
    list-style: none;
}

.navbar a {
    color: #000;
    text-decoration: none;
    transition: 0.2s ease;
}
.navbar a:hover {
    color: #EC9F18;
}


/** Estilização das seções da home**/
.content-section {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.content-section .content {
    color: #000;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.content-section .content h1 {
    font-size: 3rem;
    max-width: 600px;
}

.content-section .content p {
    font-weight: 300;
    margin-top: 15px;
    max-width: 600px;
    text-align: justify;
}

/** Estilização dos botões da home**/
.content-section .content button {
    color: #fff;
    background: #011936;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 36px;
    padding: 12px 30px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease;
}

.content-section .content button:hover {
    background:#F18F01;
}

/** Estilização dos icons da home**/
#close-icon {
    color: #fff;
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#menu-icon {
    display: none;
    color: #011936;
    cursor: pointer;
}

/** Responsividade da navbar, sections e aplicação do menu lateral **/
@media screen and (max-width: 900px){
    header {
        padding: 10px 20px;
    }
    
    .content-section .content :is(h1, p) {
        max-width: 100%;
    }
    
    .content-section .content {
        text-align: center;
    }
    
    .content-section .content h1 {
        font-size: 2.3rem;
        line-height: 60px;
    }

    .content-section .content button {
        padding: 9px 18px;
    }

    .navbar a {
        color: #fff;
    }
    
    
    .navbar .menulinks {
        position: fixed;
        top: 0;
        left: -260px;
        width: 260px;
        height: 100vh;
        padding: 70px 40px 0;
        background: #011936;
        transition: left 0.15s ease;
        flex-direction: column;
    }

    header.show-mobile-menu::before {
        content: "";
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        backdrop-filter: blur(4px);
    }

    header.show-mobile-menu .navbar .menulinks {
        left: 0;
    }

    #close-icon, #menu-icon {
        display: block;
    }
}