@import url("/css/layout/layout.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.oi{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;  
}

.registration-form {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
#formCadastro{
  width: 35%;
  max-width: 600px;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.labelForm {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  margin-top: 30px;

}
.input_form {
  width: 100%;
  padding: 10px;

  border: 1px solid #ccc;
  border-radius: 5px;
}

/* genero */
.divGender {
  display: flex;
  flex-direction: column;
}

.divGender label {

  margin-bottom: 5px;
}
.gender {
  margin-left: 20px;
}
/* parte final login/button */
.account {
  display: flex;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: flex-end;
  font-size: 18px;
}
button {
  padding: 10px 20px;
  background-color: #405b39;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
#toEnter {
  display: none;
}

#cpfMessage, #cepMessage,  #message{
  margin-top: 10px;
}
.fa-eye {
  position: absolute;
  top: 50%;
  font-size: 20px;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2; 
}

.password-container{
  position: relative;
}