:root {
    /* Paleta de cores principal da marca */
    --celeste: #B5F8FE;
    --cornflower: #6495ed;
    --oxford-blue: #011936;
    --carrot-orange: #F18F01;
    --gamboge: #EC9F18;
    --xanthour: #E6AF2E;

    --primary-white: #fff;
    --primary-black: #000;
}