:root {
    /* Paleta de cores principal da marca */
    --primary-blue: #0ea8ff;
    --primary-pink: #ff81f3;
    --primary-Wax-Flower: #ffc4b1;
    --primary-Portafino: #fffbb5;
    --primary-Bridal-Heath: #fffbf3;
    --primary-white: #fff;
    --primary-black: #000;
}