/* Reset de estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: 100% 100%;
    background-image: url("https://media.istockphoto.com/id/1623303770/photo/creative-background-image-is-blurred-evening-city-lights-and-light-snowfall.jpg?b=1&s=612x612&w=0&k=20&c=--I6QisPR7yGmgujOI2co8U3FIK5tBv6xAjMup67ghc=");
}

/* Estilo do container do dashboard */
.dashboard-container {
    display: flex;
    height: 100vh;
}

/* Estilo da barra lateral */
.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 10px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilo do conteúdo principal */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Estilo da barra de navegação */
.navbar {
    color: #000000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 8px 0 rgba(190, 190, 190, 0.37);
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.navbar h1 {
    margin-right: 20px;
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    display: inline-block;
    margin-right: 10px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilo das seções do dashboard */

.dashboard-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.section {
    margin: 10px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #864242;
}

.section h2 {
    margin-bottom: 10px;
}
