/* Reset de estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: 100% 100%;
    background-image: url("https://img.freepik.com/premium-photo/abstract-technology-background-network-connection-structure-black-background-3d-rendering_698341-186.jpg?w=900");
}

/* Estilo do container do dashboard */
.dashboard-container {
    display: flex;
    height: 100vh;
}

/* Estilo da barra lateral */
.sidebar {
    color: #ffffff;
    margin: 20px;
    padding: 20px 0 0 0;
    width: 70px;
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 8px 0 rgba(190, 190, 190, 0.37);
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.5s;
    overflow: hidden;
}

.sidebar:hover {
    width: 170px;
}

.logo {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 20px;
}

.logo i {
    font-size: 30px;
}

.logo h2 {
    color: rgb(255, 255, 255);
}


.sidebar ul {
    display: flex;
    flex-direction: column;
}

.sidebar ul li {
    padding: 20px;
}

.sidebar ul li:hover {
    background-color: rgba(68, 68, 68, 0.308);
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    text-decoration: none;
}

.sidebar ul li a i {
    font-size: 25px;
    display: flex;
    align-items: center;
}

/* oculta os texto até o mouse dar foco à sidebar (hover) */
.sidebar:not(:hover) .logo h2,
.sidebar:not(:hover) .text-link{
    display: none;
}


.sidebar:not(:hover) ul,
.sidebar:not(:hover) .logo{
    justify-content: center;
    align-items: center !important;
}


.profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
    background-color: #27272783;
    transition: flex-direction 0.3s;
}

.sidebar:not(:hover) .profile {
    flex-direction: column;
}




/* Estilo do conteúdo principal */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Estilo da barra de navegação */
.navbar {
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 8px 0 rgba(190, 190, 190, 0.37);
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.navbar h1 {
    margin-right: 20px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
}

.navbar ul li a i {
    font-size: 20px;
}

/* Estilo das seções do dashboard */

.dashboard-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.section-kpi {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #3a3a3a5e;
    border-radius: 20px;
}

.section-kpi .general  {
    color: #fff;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.section-kpi .general div {
    width: 200px;
    height: 100px;
    border-radius: 20px;
    background-color: rgba(48, 48, 48, 0.877);
}

.section-kpi .graph {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.section-kpi .bar-graph {
    background-color: rgba(255, 255, 255, 0.877);
}